testcases.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="test-cases">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cases" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="test-case-type"/>
              <xs:element type="xs:string" name="expected-ouput"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:byte" name="weight"/>
              <xs:element type="xs:string" name="mandatory"/>
              <xs:element type="xs:string" name="desc"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>